.body {
     overflow-x: hidden;
      overflow-y:hidden;

}

    
.contenido {
position:absolute; top:2px; left:250px; background-color:#dddddd; text-align: center;padding-left: 0px;
}
    
.contenedorCartas { 
    padding-top: 5px;      
}   
.tarjetaMarca{
    float: left;
}

 
    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {height: 100%}
        /* Set gray background color and 100% height */
    .sidenav {
      background-color: #ffffff;
      height: 100%;
    }
        
    /* On small screens, set height to 'auto' for the grid */
    @media screen and (max-width: 767px) {
      .row.content {height: auto;} 
    }

